body {
    background-color: #66883F;
    background-repeat: repeat;
    margin: 0px;
    background-attachment: fixed;
}

.stick{
    position:fixed;
    width:100%;
    top:0px;
    margin-bottom:10%;
}
.nav-item {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 250%;
    color: #C57200;
}
.nav-item h1{
    float:left;
    font-size:75%;
    margin-left:2%;
    margin-top:1.7%;
}
.nav-item audio{
   float:right;
   margin-top:.5%;
   margin-right:2%;
}

.page-container{
    height:100%;
}
.nav-container {
    background-color: #333C1A;
    height: 10vh;
    display:block;
}
.nav-item img{
    float:left;
    width:3%;
    margin-left:2%;
    
}
.grid-container {
    height: 80vh;
    text-align: center;
    font-family: 'Bubblegum Sans',cursive;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
    margin-bottom: 5%;
    text-shadow: -1px -1px 0 black, 1px 1px 0 black, 1px 1px 0 black, -1px -1px 0 black;
    /*background: rgba(0,150,244,.1);*/
    color: #45525D;
    letter-spacing:3px;
    font-size: x-large;
    padding-bottom: 5%;
}
.grid-container a {
    padding-bottom: 5%;
    padding-top: 5%;
    text-decoration:none;
    color:inherit;
}
grid-container a:visited{
    text-decoration:none;
    color:inherit;
}

.grid-container h1{
    padding-top:5%;
}
.grid-container h2{
    padding-bottom: 1%;
    padding-top: 1%;
}
.grid-container img{
    padding-bottom: 1%;
    padding-top: 1%;
    display:block;
    margin-left:auto;
    margin-right:auto;;
    max-width:50%;
    max-height:50%;
}

p{
	font-family:'Bubblegum Sans',cursive;
	font-size:55px;
	margin-left:10%;
	margin-right:10%;
	padding-top:10%;
}